<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>


	<!-- Hibernate configurations -->
	<import resource="hibernateSessionFactory.xml" />

	<!-- Actions Configuration -->
	<import resource="actionConfigurations.xml" />

	 	
	<!-- Some data instances for test -->
	<import resource="testInstance.xml" />

</beans>
