<?xml version="1.0" encoding="UTF-8"?>
<web-app id="just_for_test" version="3.0" 
  xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_3_0.xsd">
  
  <display-name>Tiao Ju Jiang System</display-name>

  <welcome-file-list>
  	<welcome-file>loading.jsp</welcome-file>
  </welcome-file-list>

  
  <filter> 
  	<filter-name>struts2</filter-name> 
      <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class> 
  </filter> 
   
  <filter-mapping> 
    	<filter-name>struts2</filter-name> 
      <url-pattern>/*</url-pattern> 
  </filter-mapping>

</web-app>